body{background-color: rgb(255,255,255);}
#bg{height: 100%;width: 16rem;background-color: rgb(228,228,228);}
#head{height: 2.5rem;width: 16rem;background-color: rgb(240,240,240);text-align: center;}
#head .left{float: left;height: 2.3rem;width: 2.3rem;margin: 0.1rem 0 0.1rem 0.3rem;background: url(../imges/left.png) no-repeat center center;}
#head .right{float: right;width: 3rem;height: 2rem;margin: 0.25rem 0;margin-right:0.3rem;background-color: rgb(0,204,255);border-radius: 4px;font-size: 0.9rem;line-height: 2rem; }
#head .center{height: 2.5rem;line-height: 2.5rem;font-size: 1.2rem;float: left;color: black;margin-left:2.7rem; }


#content{font-size: 0.7rem;color: black;position: relative;}
#content .sign{padding-left: 0.3rem;}
#content>div{width: 15.5rem;margin: 0 auto;height: 2rem;line-height: 2rem;background-color: white;margin-top: 0.2rem;border-radius: 5px;}
#content .xiaban_time,#content .shangban_time{border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
#content>div.ex{margin-top: 0;border-top-left-radius: 0px;border-top-right-radius: 0px;}
#content>div.ex .fenge{border-top: 1px dotted rgb(148,148,148);width: 15rem;margin: 0 auto;}
#content .tt{width: 7rem;font-size: 0.7rem;line-height: 0.7rem;}
#content .warning{color: red;font-size: 0.5rem;line-height: 2rem;padding-left: 0.2rem; display: inline;}
#content .bt_mp{font-size: 0.5rem;background-color: rgb(0,153,51);display: inline-block;height: 1.5rem;line-height: 1.5rem;width: 3rem;text-align: center;border-radius:4px;margin-left: 0.2rem; }

#bottom{width: 16rem;height: 2rem;position: fixed;bottom: 0px;background-color: rgb(244,212,212);font-size: 0.8rem;}
#bottom li a{color: black;}
#bottom li{float: left;width: 3.95555rem;height: 2rem;line-height: 2rem;text-align: center;}
#bottom .border_rt{border-right: 1px dotted rgb(172,164,164);}


#content #up_idcard{width: 14rem;height: 11rem;background: rgb(221,221,221);position: absolute;top: 7rem;left: 1rem;border-radius: 0px;margin: 0px;display: block;border:2px solid rgb(71,71,71);line-height: 0px;display: none    ;}
#content #up_idcard .content{width: 13.4rem;height: 8rem;background: rgb(255,255,255);padding: 0.3rem;}
#content #up_idcard .content p{width: 100%;height: 1.7rem;margin-top:0.5rem; }
#content #up_idcard .content p .left{font-size: 0.7rem;line-height: 0.7rem;}
#content #up_idcard .content p input{width: 8.5rem;}

    
#content #up_idcard .head{font-size: 0.8rem;margin-left: 0.5rem;line-height: 1.6rem;}
#content #up_idcard .close{width: 0.65rem;height: 0.65rem;float: right;margin-top: 0.4rem;background: url(../imges/close.png) center center;margin-right: 0.4rem;background-repeat: no-repeat;}
#content .content .ok{background-color: rgb(221,221,221);border-radius: 3px;font-size: 0.7rem;display: inline-block;width: 3rem;height: 1rem;text-align: center;margin-left: 5.2rem;line-height: 1rem;}


/**__xhy__**/
.inline{
    display: inline;}