body{}

#head{height: 2.5rem;width: 16rem;background-color: rgb(240,240,240);text-align: center;}
#head .left{float: left;height: 2.3rem;width: 2.3rem;margin: 0.1rem 0 0.1rem 0.3rem;background: url(../imges/left.png) no-repeat center center;}
#head .right{float: right;width: 3rem;height: 2rem;margin: 0.25rem 0;margin-right:0.3rem;background-color: rgb(0,204,255);border-radius: 4px;font-size: 0.9rem;line-height: 2rem; }
#head .center{height: 2.5rem;line-height: 2.5rem;font-size: 1.2rem;float: left;color: black;margin-left:4.2rem; }
#bg #head .right_img{padding: 1.15rem 0.55rem;float: right;background-image: url(../imges/rent_share.png);background-repeat: no-repeat;vertical-align: middle;background-position: center center; }
#bg #head .down_list{position: absolute;width: 3.5rem;right: 0px;top: 0px;background-color: white;border: 1px solid rgb(224,212,212);border-bottom-left-radius: 3px;display: none;}
#bg #head .down_list li{width: 100%;font-size: 0.5rem;line-height: 0.5rem;text-align: center;color: black;padding: 0.6rem 0.2rem;border-bottom: 1px solid rgb(224,212,212);}
#bg #cp_list{width: 16rem;}
#bg #cp_list li{margin-top: 0.1rem;float: left;background-color: rgb(240,240,240);}
#bg #cp_list li img{width: 16rem;vertical-align: middle;}
#bg #cp_list li span{width: 7.9rem;height: 2.5rem;line-height: 2.5rem;font-size: 0.9rem;display: inline-block;text-align: center;background-color: rgb(107,225,255);border-radius: 3px;float: left;margin-left: 0.07rem;}
	
#bottom{width: 16rem;height: 2rem;position: fixed;bottom: 0px;background-color: rgb(244,212,212);font-size: 0.8rem;}
#bottom li a{color: black;}
#bottom li{float: left;width: 3.95555rem;height: 2rem;line-height: 2rem;text-align: center;}
#bottom .border_rt{border-right: 1px dotted rgb(172,164,164);}
